.article label {

}

#inactive-account-info {
    color: red;
    text-align: center;
}

#account-act-success-info {
    color: green;
    text-align: center;
    font-weight: bold;
}

#main-content form input[type="text"] {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 1.2em;
}

#main-content form input[type="submit"] {
    margin-top: 10px;
    border: 0;
    outline: 0;
    background-color: #0e8dbc;
    line-height: 30px;
    padding: 0 30px;
    color: white;
    transition: background-color .15s ease-in-out;
    cursor: pointer;
}

#main-content form input[type="submit"]:hover {
    background-color: #0099cc;
}

.account-detail-row {
    padding: 10px 0 0 0;
    height: 40px;
}

.edit-button {
    font-size: 1.2em;
    border: 0;
    background: transparent;
    outline: none;
    height: 100%;
    transition: color .15s ease-in-out;
    cursor: pointer;
}

.edit-button:hover {
    color: red;
}

.status-span {
    color: red;
    font-weight: bold;
}

.expandable {
    max-height: 0;
    margin-top: 10px;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}