#main-body {
    padding: 50px 20px;
    margin: 0 auto;
    height: 1500px;
    width: 75%;
    min-width: 800px;
    max-width: 1300px;
    background-color: #0099cc;
    box-shadow: 1px 0 0px #b3b3b3,
        2px 0 0px #b3b3b3,
        3px 0 0px #b3b3b3,
        4px 0 0px #b3b3b3,
        5px 0 0px #b3b3b3,
        6px 0 0px #b3b3b3,
        25px 0 46px -16px rgba(64,64,64,1);
}

#main-body h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 0 0 30px 0;
    padding: 0;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#search-form {
    float: left;
}

#acc-info-container {
    float: right;
}